<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Dashboard</title>
    <link rel="stylesheet" href="style/style-main.css">
    <link rel="stylesheet" href="style/contributor-home.css">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="left-sidebar">
                <div class="contributor-profile">
                    <img src="images/user.png" alt="user image" class="contributor-img">
                    <label class="contributor-name">Yogesh Kumar</label>
                </div>
                <div class="menu-list">
                    <ul class="list">
                        <li class="list-items">My Dashboard</li>
                        <li class="list-items">Account</li>
                        <li class="list-items">Chats</li>
                        <li class="list-items">Donation</li>
                        <li class="list-items">Support</li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="header">
                    <div class="greeting">
                        <h2 class="welcome-text">project name</h2>
                        <p class="welcome">hello user.name and welcome to project.nanme</p>
                    </div>
                    <div class="my-account">
                        <div class="avtar avatar-online">
                            <img src="images/user.png" alt="" class="contributor-avtar">                           
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end show" data-bs-popper="none">
                            <li>
                              <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                  <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        
                                      <img src="../assets/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                                    </div>
                                  </div>
                                  <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">John Doe</span>
                                    <small class="text-muted">Admin</small>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <div class="dropdown-divider"></div>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                              </a>
                            </li>
                            
                            <li>
                              <div class="dropdown-divider"></div>
                            </li>
                            <li>
                              <a class="dropdown-item" href="auth-login-basic.html">
                                <i class=""></i>
                                <span class="align-middle">Log Out</span>
                              </a>
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="user-requests">
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>