<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <div class="problem-feed">
                <% if(posts!=null) { %>
                <% posts.forEach(function(posts){ %>
           
                <form action="/solution" method="post">
                    <input type="hidden" value=<%= posts.name%> name="blank"/>
                <div class="problem">
                    <h2 class="problem-title"><%= posts.problem%></h2>
                    <span class="problem-admin"><%= posts.name%></span>
                    <% if(posts.solved === 1) { %>
                    <span class="issolved">solved</span>
                    <% } %>

                    <% if(posts.solved === 0) { %>
                        <span class="issolved">unsolved</span>
                        <% } %>

                    <input type="submit" class="submit" value="Solution" >

                </div>
            </form>
            <% }) %>
            <% } %>
               
            </div>
        </div>
    </div>
<script>


</script>


</body>
</html>