<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <div class="problem-feed">
                <form action="">
                    <div class="problem">
                        <h2 class="problem-title">I have a bug in my Code</h2>
                        <span class="problem-admin">yogesh Kumar</span>
                        <span class="issolved">Solved</span>
                        <input type="submit" class="submit" value="Submit" onclick="next(this)">
                    </div>
                </form>
                <form action="">
                <div class="problem">
                    <h2 class="problem-title">I have a bug in my Code</h2>
                    <span class="problem-admin">yogesh Kumar</span>
                    <span class="issolved">Solved</span>
                    <input type="submit" class="submit" value="Submit" onclick="next(this)">

                </div>
            </form>
                <form action="">
                    <div class="problem">
                        <h2 class="problem-title">I have a bug in my Code</h2>
                        <span class="problem-admin">yogesh Kumar</span>
                        <span class="issolved">Solved</span>
                        <input type="submit" class="submit" value="Submit" onclick="next(this)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>